<!DOCTYPE html>
<html>
<head>
<title>BOOT-CRUD</title>
<#include "/common/css_js_bootstrap.htm">
<link href="../css/sticky-footer-navbar.css" rel="stylesheet">
</head>
<body>
<#include "/common/navbar.htm">

<div class="jumbotron">
  <div class="container">
    <h1>Hello World</h1>
    <p>This is a SpringBoot + Mybatis + Freemarker CRUD demo</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Login</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>CRUD</h2>
      <p>This demo demonstrate a  User CRUD.</p>
      <p><a class="btn btn-default" href="/user/list" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>User-Role-Resource</h2>
      <p>This demo inclued a user-role-resource  model</p>
      <p>resource tree Using ztree</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>More Examples</h2>
      <p>coming soon...</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
 </div>
</div>

<#include "/common/footer.htm">
</body>
</html>